{% extends "templates/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/{{ demo_name }}/css/style.css">
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
  var DEMO_NAME = '{{ demo_name }}';
</script>
<script type="text/javascript" src="/js/gce.js"></script>
<script type="text/javascript" src="/js/squares.js"></script>
<script type="text/javascript" src="/js/timer.js"></script>
<script type="text/javascript" src="/js/counter.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="/{{ demo_name }}/js/vis.js"></script>
<script type="text/javascript" src="/{{ demo_name }}/js/script.js"></script>
{% endblock %}

{% block content %}
<h1>
  Welcome to Quick Start!
</h1>
<p>
  This demo shows just how quick it is to start hundreds of instances.
</p>

<p>
  <a href="/{{ demo_name }}/project">Edit</a> your Compute Engine project
  information.
</p>

<p>
  <input type="text" id="num-instances" value="{{targetVMs}}">
  <input type="hidden" id="started-instances" value="{{startedVMs}}">
  <input type="hidden" id="start-time" value="{{startTime}}">
  <a class="btn" id="start">Start</a>
  <a class="btn disabled" id="reset">Reset</a>
  &nbsp;&nbsp;&nbsp;
  <span>
    Disk Perf
    <input type="checkbox" class="perf disabled" onclick="QuickStart.perfToggle('disk')">
  </span>
  &nbsp;&nbsp;&nbsp;
  <!--
  <span>
    Net Perf
    <input type="checkbox" class="perf disabled" onclick="QuickStart.perfToggle('net')">
  </span>
  -->
  <span>
    Random
    <input type="checkbox" class="perf disabled" onclick="QuickStart.perfToggle('random')">
  </span>
</p>

<div>
  <canvas id="counter"></canvas>
&nbsp;&nbsp;&nbsp;
  <span id="elapsed-time">Timer: <span id="timer"></span></span>
</div>
<div id="perf-graph" style="display: none"><br></div>
  <!--<input id="sort-checkbox" type="checkbox">Sort Values</input><br>-->
<div id="instances"></div>
{% endblock %}
